html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 100px;
}
.clearfix {
  overflow: hidden;
}

/* header begin */
.header {
  font-size: 0.16rem;
  margin-bottom: 1em;
}
.header ol {
  margin-top: 0.2em;
}
.header ol li {
  float: left;
  margin-right: 1em;
}
.header ol li:last-child {
  margin-right: 0;
}
/* header end */

/* container begin */
.container {
  font-size: 0.16rem;
  margin-bottom: 1em;
}
.container aside {
  float: left;
  margin-right: 1.25em;
}
.article-header {
  margin-bottom: 1em;
}
.article-header h1 {
  font-size: 0.25rem;
  margin-bottom: 0.2em;
}
.article-header h2 {
  font-size: 0.18rem;
}
/* container end */

.footer {
  font-size: 0.16rem;
}
.footer address {
  font-style: italic;
}
